{% extends "base_app.html" %}
{% load static %}

{% block css %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
  <link rel="stylesheet" href="{% static 'css/portfolio.css' %}">
{% endblock %}

{% block page_title %}{{ asset.symbol }}{% endblock %}

{% block page_meta %}
  <a href="{% url list_url_name %}">{{ list_label }}</a> → {{ asset.name }}
{% endblock %}

{% block topbar_actions %}
  <a href="{% url list_url_name %}" class="btn btn-ghost">← Back</a>
{% endblock %}

{% block page_content %}
  {% include "includes/asset_detail.html" %}
{% endblock %}

{% block js %}
  {{ block.super }}
  <script src="{% static 'js/chart_period.js' %}"></script>
  <script src="{% static 'js/portfolio.js' %}"></script>
{% endblock %}
