{% extends "base.html" %}
{% load static %}

{% block navbar %}
 {# ── Public navbar ── #}
  <nav class="pub-nav">
    <a href="{% url 'main:main' %}" class="pub-nav-logo">
      <div class="pub-nav-logo-text">Yield<span>Visor</span></div>
    </a>

    <div class="pub-nav-links">
      <a href="{% url "portfolio:portfolio" %}" class="pub-nav-link">Portfolio</a>
      <a href="{% url "analytics:analytics" %}"  class="pub-nav-link">Analytics</a>
      <a href="{% url "user:profile" %}"  class="pub-nav-link">Profile</a>
      <a href="https://github.com/Max2772/YieldVisor" class="pub-nav-link">Docs</a>
    </div>

    <div class="pub-nav-actions">
      {% block pub_nav_actions %}
        {% for action in pub_nav_actions %}
        <a href="{% url action.url_name %}" class="btn {{ action.btn_class }}">{{ action.label }}</a>
        {% endfor %}
      {% endblock %}
    </div>
  </nav>
{% endblock %}