{% extends "base.html" %}
{% load static %}

{% block navbar %}
 {# ── Public navbar ── #}
  <nav class="pub-nav">
    <a href="/" class="pub-nav-logo">
      <div class="pub-nav-logo-text">Yield<span>Visor</span></div>
    </a>

    <div class="pub-nav-links">
      <a href="{% url "portfolio:portfolio" %}" class="pub-nav-link">Portfolio</a>
      <a href="#"  class="pub-nav-link">Analytics</a>
      <a href="{% url "user:profile" %}"  class="pub-nav-link">Profile</a>
      <a href="https://github.com/Max2772/YieldVisor" class="pub-nav-link">Docs</a>
    </div>

    <div class="pub-nav-actions">
      <a href="{% url "user:login" %}"    class="btn btn-ghost">Log in</a>
      <a href="{% url "user:registration" %}" class="btn btn-primary">Get started →</a>
    </div>
  </nav>
{% endblock %}